[user]
	name = Kyrylo Silin
	email = silin@kyrylo.org
[github]
	user = kyrylo
	oauth-token = 85b00a102d5edc665f14401125faa7434d93917c
[color]
	ui = true
[color "diff"]
	meta = 4 bold
	frag = 61
	old = 241 bold
	new = 37 bold
[color "branch"]
	current = 230 bold
	local = 136 bold
	remote = 166 bold
[color "status"]
	added = 10 bold
	changed = 4 bold
	untracked = 5 bold
	unmerged = 136 bold
[color "grep"]
	match = 166 bold
[core]
	editor = emacs -nw
	quotepath = false
[merge]
	tool = meld
[instaweb]
	local = true
	httpd = webrick
	browser = safari
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[http]
	cookiefile = /Users/kyrylo/.gitcookies
[alias]
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
[push]
	default = current

# git-delta options

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = line-numbers decorations
    whitespace-error-style = 22 reverse
    syntax-theme = zenburn

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
